body{
    font-family: 'Nunito', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

h3{
    color: rgb(113, 112, 114);
    margin: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px lightgrey solid;
}

.post-header2{
    display: flex;
    justify-content: space-around;
}

.post-header1 > p{
    margin: 20px;
}

.post-header2 > p{
    margin: 20px;
}

.shopping1{
    margin: 15px;
    display: flex;
}

.bonsais{
    display: grid;
    grid-template-columns: 1fr;
}

.bonsai1 > img{
    margin: 20px;
    height: 460px;
}

.bonsai2{
    margin: 10px;
}

.bonsai2 > img{
    margin: 12px;
    height: 140px;
}

.post-price-description1{
    border-bottom: 2px lightgrey solid;
}

.shopping2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button {
  background-color:#555555; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}